@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-family: "microsoft yahei";
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/*内宽$inner-width*/
/*文章颜色$articleColor*/
/*标题的颜色$titleColor*/
/*图片路径$imgpath:"../img";*/
/*盒子模型*/
/*正方体盒子模型*/
/*检测使用*/
/*垂直居中vertical*/
/*水平居中level*/
/*全居中center*/
.banner {
  width: 100%;
  height: 750px;
  background: url("../img/home/banner1_02.jpg") no-repeat;
  background-size: 100%;
}

.banner .zhezhao {
  width: 100%;
  height: 590px;
  background: rgba(22, 92, 118, 0.4);
}

.banner .zhezhao .pp {
  width: 1202px;
  height: 199px;
  background: #42D1F1;
  box-shadow: 0 0 15px #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 78px;
  bottom: -580px;
}

.banner .zhezhao .pp .kspp {
  width: 232px;
  height: 199px;
  background: url("../img/home/search.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  float: left;
}

.banner .zhezhao .pp .kspp .zi {
  font-size: 18px;
  color: #02254D;
  padding-top: 80px;
}

.banner .zhezhao .pp .kspp .zi2 {
  font-size: 12px;
  color: #02254D;
}

.banner .zhezhao .pp .kspp .circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -3px;
  top: 0;
}

.banner .zhezhao .pp .kspp .cir1 {
  top: 16px;
}

.banner .zhezhao .pp .kspp .cir2 {
  top: 32px;
}

.banner .zhezhao .pp .kspp .cir3 {
  top: 48px;
}

.banner .zhezhao .pp .kspp .cir4 {
  top: 59px;
  background: rgba(0, 0, 0, 0.7);
}

.banner .zhezhao .pp .kspp .cir5 {
  top: 75px;
  background: rgba(0, 0, 0, 0.6);
}

.banner .zhezhao .pp .kspp .cir6 {
  top: 91px;
  background: rgba(0, 0, 0, 0.5);
}

.banner .zhezhao .pp .kspp .cir7 {
  top: 107px;
  background: rgba(0, 0, 0, 0.4);
}

.banner .zhezhao .pp .kspp .cir8 {
  top: 123px;
  background: rgba(0, 0, 0, 0.3);
}

.banner .zhezhao .pp .kspp .cir9 {
  top: 139px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhezhao .pp .kspp .cir10 {
  top: 155px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhezhao .pp .kspp .cir11 {
  top: 171px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhezhao .pp .kspp .cir12 {
  top: 187px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhezhao .pp .text {
  width: 846px;
  height: 82px;
  float: left;
  margin-left: 43px;
  margin-top: 63px;
  border-radius: 50px;
  background: #fff;
  z-index: 10;
  line-height: 82px;
  color: rgba(0, 0, 0, 0.4);
}

.banner .zhezhao .pp .cir13 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FFD117;
  position: absolute;
  left: 27px;
  top: 37px;
  z-index: 11;
}

.banner .zhezhao .pp span {
  margin-left: 66px;
}

.banner .zhezhao .pp .text2 {
  width: 179px;
  height: 84px;
  border-radius: 50px;
  border: 3px solid #fff;
  background: url("../img/home/xunzhaobj.jpg");
  margin-left: 680px;
  margin-top: -70px;
  box-shadow: 0 0 9px #000;
  font-size: 35px;
  line-height: 84px;
  text-align: center;
  color: #fff;
}

.tj {
  width: 1200px;
  height: 194px;
  margin: 0 auto;
}

.tj .li {
  width: 580px;
  height: 194px;
  padding-left: 31px;
  padding-top: 31px;
  background: url("../img/home/xinxi.jpg");
  background-size: 100%;
  float: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.tj .li span {
  font-size: 20px;
  color: #fff;
  margin-top: 42px;
}

.tj .li .city {
  font-size: 32px;
}

.tj .li a {
  display: block;
  margin-top: 24px;
}

.tj .li a span {
  margin-right: 40px;
}

.tj .li1 {
  margin-right: 39px;
  background: url("../img/home/city.jpg");
  background-size: 100%;
}

.gl {
  width: 1200px;
  height: 220px;
  margin: 0 auto;
  margin-top: 48px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
