@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/*内宽$inner-width*/
/*文章颜色$articleColor*/
/*标题的颜色$titleColor*/
/*图片路径$imgpath:"../img";*/
/*盒子模型*/
/*正方体盒子模型*/
/*检测使用*/
/*垂直居中vertical*/
/*水平居中level*/
/*全居中center*/
/*园*/
/*边框*/
.banner {
  width: 100%;
  height: 835px;
  background: url("../img/home/banner1_02.jpg") no-repeat;
  background-size: 100%;
  margin-bottom: 158px;
}

.banner .background {
  background: rgba(7, 78, 113, 0.8);
}

.banner .zhao {
  width: 100%;
  height: 835px;
  background: rgba(22, 92, 118, 0.8);
}

.banner .zhao .green-box {
  position: absolute;
  right: 165px;
  bottom: 51px;
  z-index: 1;
  width: 420px;
  height: 480px;
  background: rgba(29, 212, 115, 0.4);
}

.banner .zhao .banner-content {
  width: 1438px;
  height: 745px;
  background: url("../img/home/banner1_02.jpg") no-repeat;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  top: 90px;
}

.banner .zhao .big-fang {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 43px;
  bottom: 142px;
  background: rgba(232, 188, 15, 0.4);
  z-index: 3;
}

.banner .zhao .small-fang {
  width: 66px;
  height: 66px;
  position: absolute;
  left: 10px;
  bottom: 260px;
  background: rgba(232, 188, 15, 0.4);
  z-index: 3;
}

.banner .zhao .select-box {
  width: 120px;
  height: 240px;
  position: absolute;
  right: 110px;
  bottom: 116px;
  background: #f0c310;
  z-index: 3;
  overflow: hidden;
}

.banner .zhao .select-box .select-list {
  width: 16px;
  height: 96px;
  margin: 0 auto;
  margin-top: 38px;
  margin-left: 25px;
}

.banner .zhao .select-box .select-list .listname {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 11px;
}

.banner .zhao .select-box .select-list .listname:nth-of-type(4) {
  margin-bottom: 0;
  border: 3px solid #fff;
  background: #f0c310;
}

.banner .zhao .select-box .xuhao {
  width: 47px;
  height: 20px;
  float: right;
  margin-right: 18px;
  margin-bottom: 104px;
}

.banner .zhao .select-box .xuhao .zeroone {
  font-size: 26px;
  color: #fff;
}

.banner .zhao .select-box .xuhao .three {
  font-size: 22px;
  color: #fff;
}

.banner .zhao .select-box .fangxiang {
  width: 86px;
  height: 36px;
  background: #fff;
  line-height: 36px;
  border-radius: 20px;
  margin-left: -30px;
  margin-top: 40px;
}

.banner .zhao .select-box .fangxiang .left {
  color: #e8bc0f;
  font-size: 24px;
  float: right;
  margin-right: 10px;
}

.banner .zhao .select-box .fangxiang .right {
  color: #e8bc0f;
  font-size: 24px;
  float: right;
  margin-right: 5px;
}

.banner .zhao .pp {
  width: 1202px;
  height: 199px;
  background: #42D1F1;
  box-shadow: 0 0 15px #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 78px;
  bottom: -830px;
  z-index: 111;
}

.banner .zhao .pp .kspp {
  width: 232px;
  height: 199px;
  background: url("../img/home/search.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  float: left;
}

.banner .zhao .pp .kspp .zi {
  font-size: 18px;
  color: #02254D;
  padding-top: 80px;
}

.banner .zhao .pp .kspp .zi2 {
  font-size: 12px;
  color: #02254D;
}

.banner .zhao .pp .kspp .circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -3px;
  top: 0;
}

.banner .zhao .pp .kspp .cir1 {
  top: 16px;
}

.banner .zhao .pp .kspp .cir2 {
  top: 32px;
}

.banner .zhao .pp .kspp .cir3 {
  top: 48px;
}

.banner .zhao .pp .kspp .cir4 {
  top: 59px;
  background: rgba(0, 0, 0, 0.7);
}

.banner .zhao .pp .kspp .cir5 {
  top: 75px;
  background: rgba(0, 0, 0, 0.6);
}

.banner .zhao .pp .kspp .cir6 {
  top: 91px;
  background: rgba(0, 0, 0, 0.5);
}

.banner .zhao .pp .kspp .cir7 {
  top: 107px;
  background: rgba(0, 0, 0, 0.4);
}

.banner .zhao .pp .kspp .cir8 {
  top: 123px;
  background: rgba(0, 0, 0, 0.3);
}

.banner .zhao .pp .kspp .cir9 {
  top: 139px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhao .pp .kspp .cir10 {
  top: 155px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhao .pp .kspp .cir11 {
  top: 171px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhao .pp .kspp .cir12 {
  top: 187px;
  background: rgba(255, 255, 255, 0.8);
}

.banner .zhao .pp .text {
  width: 846px;
  height: 82px;
  float: left;
  margin-left: 43px;
  margin-top: 63px;
  border-radius: 50px;
  background: #fff;
  z-index: 10;
  line-height: 82px;
  color: rgba(0, 0, 0, 0.4);
}

.banner .zhao .pp .cir13 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FFD117;
  position: absolute;
  left: 27px;
  top: 37px;
  z-index: 11;
}

.banner .zhao .pp span {
  margin-left: 66px;
}

.banner .zhao .pp .text2 {
  width: 179px;
  height: 84px;
  border-radius: 50px;
  border: 3px solid #fff;
  background: url("../img/home/xunzhaobj.jpg");
  margin-left: 680px;
  margin-top: -70px;
  box-shadow: 0 0 9px #000;
  font-size: 35px;
  line-height: 84px;
  text-align: center;
  color: #fff;
}

.tj {
  width: 1200px;
  height: 194px;
  margin: 0 auto;
  margin-top: 300px;
}

.tj .li {
  width: 580px;
  height: 194px;
  padding-left: 31px;
  padding-top: 31px;
  background: url("../img/home/xinxi.jpg");
  background-size: 100%;
  float: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.tj .li span {
  font-size: 20px;
  color: #fff;
  margin-top: 42px;
}

.tj .li .city {
  font-size: 32px;
}

.tj .li a {
  display: block;
  margin-top: 24px;
}

.tj .li a span {
  margin-right: 40px;
}

.tj .li1 {
  margin-right: 39px;
  background: url("../img/home/city.jpg");
  background-size: 100%;
}

.gl {
  width: 1200px;
  height: 220px;
  margin: 0 auto;
  margin-top: 48px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.gl .icon {
  width: 129px;
  height: 129px;
  margin-top: 45px;
  margin-left: 78px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  border: 3px solid #DCDCDC;
  margin-right: 45px;
  text-align: center;
  background: #00293F;
}

.gl .icon img {
  width: 80px;
  margin-top: 25px;
}

.gl .dress {
  width: 569px;
  height: 220px;
  font-size: 16px;
  padding-top: 45px;
  float: left;
}

.gl .dress p {
  color: #404040;
  line-height: 40px;
}

.gl .dress p span {
  margin-right: 40px;
}

.gl .dress p .sjzj {
  font-weight: bold;
}

.gl .dress p .sjzj1 {
  color: #EBC548;
}

.gl .dress p .xinzi {
  font-size: 26px;
  color: #EBC445;
  font-weight: bold;
}

.gl .dress p .xinzi1 {
  color: #EBC548;
}

.gl .dress p .guanli {
  font-size: 12px;
}

.gl .hr {
  width: 8px;
  height: 220px;
  float: left;
}

.gl .hr p {
  width: 7px;
  height: 7px;
  background: #929D9F;
  border-radius: 50%;
  margin-top: 8px;
}

.gl .name {
  width: 349px;
  height: 220px;
  text-align: center;
  float: left;
}

.gl .name .touxiang {
  width: 69px;
  height: 69px;
  background: url("../img/home/touxiang.jpg") no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-top: 28px;
}

.gl .name p {
  font-size: 18px;
  color: #000;
  margin-top: 5px;
}

.gl .name .zhiliao {
  width: 147px;
  height: 43px;
  border-radius: 50px;
  background: #FFCA4A;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.gl .name .zhiliao1 {
  background: #42D1F1;
}

.gl1 {
  margin-top: 12px;
}

.pages {
  width: 690px;
  height: 31px;
  margin: 0 auto;
  margin-top: 103px;
}

.pages .FRIST {
  width: 78px;
  height: 28px;
  color: #BFBFBF;
  font-size: 10px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #BFBFBF;
  border-radius: 50px;
  float: left;
  margin-left: 7px;
}

.pages .prev {
  margin-left: 19px;
}

.pages .ONE {
  width: 28px;
  height: 28px;
  margin-left: 11px;
}

.pages .TWO {
  color: #fff;
  background: #2987F8;
}

.pages .two {
  margin-left: 12px;
  color: #fff;
  background: #2987F8;
}

.qiye {
  width: 1200px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 70px;
}

.qiye .qiye-top {
  width: 1200px;
  height: 46px;
  line-height: 46px;
}

.qiye .qiye-top span {
  font-size: 20px;
  color: #727272;
  float: left;
}

.qiye .qiye-top .city {
  font-size: 32px;
  color: #43B458;
  float: left;
}

.qiye .qiye-top .fenlei {
  width: 147px;
  height: 43px;
  font-size: 16px;
  text-align: center;
  border-radius: 50px;
  background: #FFCA4A;
  float: left;
  margin-left: 46px;
  color: #fff;
  line-height: 43px;
}

.qiye .qiye-top .fenlei1 {
  background: #43D4F3;
}

.qiye .qiye-top .fenlei2 {
  background: #3DE695;
}

.qiye .qiye-bot {
  width: 1200px;
  height: 358px;
}

.qiye .qiye-bot .bot-one {
  width: 364px;
  height: 358px;
  margin-left: 31px;
  margin-top: 24px;
  float: left;
}

.qiye .qiye-bot .bot-one .bot-one-top {
  width: 364px;
  height: 267px;
  background: url("../img/home/company.jpg") no-repeat;
  background-size: 100%;
}

.qiye .qiye-bot .bot-one .bot-one-bot {
  width: 364px;
  height: 82px;
  margin-top: 5px;
}

.qiye .qiye-bot .bot-one .bot-one-bot .left {
  width: 286px;
  height: 82px;
  float: left;
}

.qiye .qiye-bot .bot-one .bot-one-bot .left h1 {
  font-size: 18px;
  color: #403E3F;
  line-height: 30px;
  font-style: none;
  margin-top: 5px;
}

.qiye .qiye-bot .bot-one .bot-one-bot .left p {
  font-size: 16px;
  color: #888888;
}

.qiye .qiye-bot .bot-one .bot-one-bot .tu {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 2px solid #ededed;
  float: left;
  text-align: center;
  background: #080808;
  overflow: hidden;
}

.qiye .qiye-bot .bot-one .bot-one-bot .tu img {
  width: 30px;
}

.qiye .qiye-bot .bot-one .bot-one-bot .tu1 {
  background: #F7941D;
}

.qiye .qiye-bot .bot-one .bot-one-bot .tu1 img {
  margin-top: 10px;
  width: 40px;
}

.qiye .qiye-bot .bot-one .bot-one-bot .tu2 {
  background: #fff;
}

.qiye .qiye-bot .bot-one .bot-one-bot .tu2 img {
  margin-top: 15px;
  width: 70px;
}
