@import "base";

#footer{
	@include box(100%,300px)
	position: relative;
	left: 0;
	bottom: 0;
	background: #2d2d2d;
	.footerBao{
		@include box(1200px,100%);
	    @include level;
	    background: red;
	    padding-top:65px;
	    img{
	    	width: 150px;
	    	height: 200;
	    }
	}

}
