@import "base";
$headerimg:"../img/header/";

#header{
	@include box(100%,139px);
	position:relative;
	left: 0;top: 0;
	background:#104860;

}
#headerHe{
	@include box(1200px,100%);
	@include level;
	// background: red;
	// @include cha(#ccc)
	a{
		color: #ffffff;
	}
	.ganggang{
	    @include box(0px,40px);
	    // background: #c1c1c1;
	     border-left:1px dashed #c2c2c2;
	     float: left;
		 margin-top: 40px;

	}
    .banner-fiddy{
    	// position: absolute;
		float: left;
		width: 80px;
		height: 140px;
		margin-top: 10px;
		background: url($headerimg+"logo.png") no-repeat;
		margin-left: -30px;
	}
	.Hekuai{
		float: left;
		@include box(210px,70%);
		margin-left:5px; 
		color: #707f8b;
		margin-top:30px;
		.heng{
	      @include level;
          @include box(120px,1px);
          background: #707577;
          // margin:20px auto;
          margin-left: -0px;
          // margin-top: 0px;
          margin-top: 8px; 
         > div {
            @include box(40px,1px);
          	background: #ceb12c; 
          }
		}
        > li:nth-child(3){
       	margin-top: 16px
       }
       :nth-child(1){
       	margin-left: 40px;
       }
       .tuo{
       @include box(70px,3px);
       border-radius: 20px;
       background:#ceb12c;
       margin-top: 8px ;
       float: left;
       }
       .tuoyuan{
        float: left;
       	@include box(5px,5px)
       	border-radius: 50%;
       	background: #ceb12c;
        margin-top: 6px ;
        margin-left: 10px;
       }
	}

	// 搜索框
	#searchform{
       float: left;
       margin-top: 40px;
       // margin-left: 20px;

       .search{
       	@include box(280px,37px);
        float: left;
        // margin-top: 40px;
        border-radius: 20px;
        border: 1px solid #ffffff;
        background: #245f78;
       .yuanxin{
       	@include box(1px,20px)
       	background: #ccc;
       	// margin-left: 30px;
       	left: 20px;
       	z-index: 2;
        // @mixin level;
        @include vertical;
       }
       .shugang{
       	@include box(5px,5px)
        @include vertical;
        z-index: 2;
        border-radius: 50%;
        background: #ffd015;
       	left: 5px;

       }
        input, .search button {
		    border: none;
		    float: left;
		}
		 input.boxss {
		    height: 35px;
		    width: 210px;
		    margin-left: 22px;
		    margin-right: 0px;
		    padding-right: 0px;
            background: #245f78;
		    // background: rgba(248,248,248,0,7);
		    // background: rgba(248,248,248,0.7);
		    // margin: 1px;
            // border-radius: 20px;

		}
		 input.boxss:focus {
		    background:#52aad4;
		    outline: none;
		}
		 button.formbtn {
		    border: none;
		    width: 28px;
		    height: 28px;
		    margin: 0px auto;
		    margin: 1px;
		    background: url(http://sandbox.runjs.cn/uploads/rs/339/livk7pl5/search_blue.png) no-repeat top right;
		}
		 button.formbtn:hover {
		    background: url(http://sandbox.runjs.cn/uploads/rs/339/livk7pl5/search_black.png) no-repeat bottom right;
		}

       }
   
		
	}
	
};

