@import "base";
$bg:"../img/home/";
.banner{
    @include box(100%,835px);
    background:url($bg+"banner1_02.jpg") no-repeat;
    background-size:100%;
    margin-bottom: 158px;
    .background{
        background: rgba(7,78,113,0.8);
    }
    .zhao{
        @include box(100%,835px);
        background:rgba(#165c76,0.8);
        .green-box{
            position:absolute;
            right:165px;
            bottom:51px;
            z-index: 1;
            @include box(420px,480px);
            background:rgba(#1dd473,0.4);
        }
        .banner-content{
            @include box(1438px,745px);
            background:url($bg+"banner1_02.jpg") no-repeat;
            overflow: hidden;
            @include level;
            z-index: 2;
            top:90px;
         }
         .big-fang{
             @include box(150px,150px);
             position:absolute;
             left:43px;
             bottom:142px;
             background:rgba(#e8bc0f,0.4);
             z-index: 3;
         }
         .small-fang{
             @include cube(66px);
             position:absolute;
             left:10px;
             bottom:260px;
             background:rgba(#e8bc0f,0.4);
             z-index: 3;
         }
         .select-box{
             @include box(120px,240px);
             position:absolute;
             right:110px;
             bottom:116px;
             background:#f0c310;
             z-index: 3;
             overflow: hidden;
             .select-list{
                @include box(16px,96px);
                margin:0 auto;
                margin-top:38px;
                margin-left:25px;
                .listname{
                   @include box(16px,16px);
                   border-radius: 50%; 
                   background:#fff;
                   margin-bottom:11px;
                }
                .listname:nth-of-type(4){
                    margin-bottom:0;
                    border:3px solid #fff;
                    background:#f0c310;
                }
             }
             .xuhao{
                 @include box(47px,20px);
                 float:right;
                 margin-right:18px;
                 margin-bottom:104px;
                 .zeroone{
                     font-size:26px;
                     color:#fff;
                 }
                 .three{
                     font-size:22px;
                     color:#fff;
                 }
             }
             .fangxiang{
                 @include box(86px,36px);
                 background: #fff;
                 line-height: 36px;
                 border-radius: 20px;
                 margin-left:-30px;
                 margin-top:40px;
                 .left{
                     color:#e8bc0f;
                     font-size:24px;
                     float:right;
                     margin-right:10px;
                 }
                 .right{
                     color:#e8bc0f;
                     font-size:24px;
                     float:right;
                     margin-right:5px;
                     
                 }
             }
         }
         .pp{
           @include box(1202px,199px);
           background: #42D1F1;
           box-shadow: 0 0 15px #000;
           @include vertical;
           left:78px;
           bottom: -830px;
           z-index: 111;
           .kspp{
              @include box(232px,199px);
              background: url($bg+"search.jpg")no-repeat;
              background-size: 100%;
              text-align: center;
              float: left;
              .zi{
                 font-size: 18px; 
                 color: #02254D;
                 padding-top: 80px;
              }
              .zi2{
                 font-size: 12px; 
                 color: #02254D;
              }
              .circle{
                 @include box(6px,6px); 
                 border-radius: 50%;
                 background:#000;
                 position: absolute;
                 right:-3px;
                 top:0;
              }
              .cir1{
                  top:16px;
              }
              .cir2{
                  top:32px;
              }
              .cir3{
                  top:48px;
              }
              .cir4{
                  top:59px;
                  background: rgba(#000,0.7);
              }
              .cir5{
                  top:75px;
                  background: rgba(#000,0.6);
              }
              .cir6{
                  top:91px;
                  background: rgba(#000,0.5);
              }
              .cir7{
                  top:107px;
                  background: rgba(#000,0.4);
              }
              .cir8{
                  top:123px;
                  background: rgba(#000,0.3);
              }
              .cir9{
                  top:139px;
                  background: rgba(#fff,0.8);
              }
              .cir10{
                  top:155px;
                  background: rgba(#fff,0.8);
              }
              .cir11{
                  top:171px;
                  background: rgba(#fff,0.8);
              }
              .cir12{
                  top:187px;
                  background: rgba(#fff,0.8);
              }
           }
           .text{
              @include box(846px,82px);  
              float: left;
              margin-left: 43px;
              margin-top: 63px;
              border-radius: 50px;
              background: #fff;
              z-index: 10;
              line-height: 82px;
              color:rgba(0,0,0,0.4);
           }
           .cir13{
               @include box(13px,13px); 
               border-radius: 50%;
               background: #FFD117; 
               position: absolute;
               left:27px;
               top:37px;
               z-index: 11;
           }
           span{
               margin-left: 66px;
           }
           .text2{
              @include box(179px,84px); 
              border-radius: 50px; 
              border: 3px solid #fff;
              background: url($bg+"xunzhaobj.jpg"); 
              margin-left: 680px;
              margin-top: -70px;
              box-shadow: 0 0 9px #000;
              font-size: 35px;
              line-height: 84px;
              text-align: center;
              color: #fff;
           }
        }
    }
}
.tj{
    width: $inner-width;
    height: 194px;
    margin:0 auto;
    margin-top: 300px;
    .li{
       @include box(580px,194px);
       padding-left: 31px;
       padding-top: 31px;
       background: url($bg+"xinxi.jpg"); 
       background-size: 100%;
       float:left;
       box-shadow: 0 0 15px rgba(0,0,0,0.5);
       span{
           font-size: 20px;
           color: #fff;
           margin-top: 42px;
       }
       .city{
          font-size: 32px; 
       }
       a{
           display: block;
           margin-top: 24px;
           span{
               margin-right: 40px;
           }
       }
    }
    .li1{
        margin-right: 39px; 
        background: url($bg+"city.jpg"); 
        background-size: 100%;   
    }
}
.gl{
    width: $inner-width;
    height: 220px;
    margin: 0 auto;
    margin-top: 48px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    .icon{
         @include box(129px,129px);
//       background: url($bg+"yuan5.jpg")no-repeat;
//       background-size:100%;
         margin-top: 45px;
         margin-left: 78px;
         border-radius: 50%;
         overflow: hidden;
         float:left; border: 3px solid #DCDCDC;
         margin-right: 45px;
         text-align: center;
//       @include vertical;
         background: #00293F;
         img{
             width: 80px;
             margin-top:25px ;
             
//          
         }
    }
    .dress{
        @include box(569px,220px);
        font-size: 16px;
        padding-top: 45px;
        float: left;
        p{
          color: #404040;
          line-height: 40px; 
          span{
                margin-right: 40px;
            } 
          .sjzj{
              font-weight: bold;
          }
          .sjzj1{
              color: #EBC548; 
          }
          .xinzi{
              font-size: 26px;
              color: #EBC445;
              font-weight: bold;
          }
          .xinzi1{
             color: #EBC548; 
          }
          .guanli{
              font-size: 12px;
          }
        }
    }
    .hr{
       @include box(8px,220px);
       float: left;
       p{
           @include box(7px,7px);
           background: #929D9F;
           border-radius: 50%;
           margin-top: 8px;
       }
    }
    .name{
         @include box(349px,220px);
//       padding-left: 100px;
         text-align: center;
         float:left;
         .touxiang{
             @include box(69px,69px);
             background: url($bg+"touxiang.jpg")no-repeat;
             background-size:100%;
//           @include center;
             margin: 0 auto;
             margin-top: 28px;
         }
         p{
             font-size: 18px;
             color:#000;
             margin-top: 5px;
         }
         .zhiliao{
             @include box(147px,43px);
             border-radius: 50px;
             background: #FFCA4A;
             margin: 0 auto;
             margin-top: 20px;
             line-height: 43px;
             text-align: center;
             color: #fff;
         }
         .zhiliao1{
             background: #42D1F1;
         }
    }
}
.gl1{
    margin-top: 12px;
}
.pages{
    @include box(690px,31px);
    margin: 0 auto;
    margin-top: 103px;
    .FRIST{
       @include box(78px,28px); 
       color: #BFBFBF;
       font-size: 10px;
       text-align: center;
       line-height: 26px;
       border:1px solid #BFBFBF;
       border-radius: 50px;
       float: left;
       margin-left: 7px;
    }
    .prev{
      margin-left: 19px;  
    }
    .ONE{
       @include box(28px,28px);
       margin-left: 11px;    
    }
    .TWO{
       color: #fff;
       background: #2987F8; 
    }
    .two{
        margin-left: 12px;
        color: #fff;
        background: #2987F8;
    }
}
.qiye{
   width: $inner-width;
   margin: 0 auto;
   margin-top: 86px; 
   margin-bottom: 70px;
   .qiye-top{
     @include box(1200px,46px);
     line-height: 46px;
       span{
           font-size: 20px;
           color: #727272;
            float:left;
       }
       .city{
          font-size: 32px; 
          color: #43B458;
          float:left;
       }
       .fenlei{
         @include box(147px,43px);
         font-size: 16px;
         text-align: center;
         border-radius: 50px;
         background: #FFCA4A;
         float:left;
         margin-left: 46px;
         color:#fff;
         line-height:43px;
         }
         .fenlei1{
           background: #43D4F3;  
         }
         .fenlei2{
           background: #3DE695;  
         }
   }
   .qiye-bot{
       @include box(1200px,358px);
       .bot-one{
          @include box(364px,358px);
          margin-left: 31px; 
          margin-top: 24px;
          float: left;
          .bot-one-top{
             @include box(364px,267px);
             background: url($bg+"company.jpg")no-repeat;
             background-size:100%;
          }
          .bot-one-bot{
              @include box(364px,82px);
              margin-top: 5px;
              .left{
                  @include box(286px,82px);
                  float: left;
                  h1{
                      font-size: 18px;
                      color: #403E3F;
                      line-height: 30px;
                      font-style: none;
                      margin-top: 5px;
                  }
                  p{
                     font-size: 16px;
                     color: #888888; 
                  }
              }
              .tu{
                 @include box(77px,77px);
                 border-radius: 50%;
                 border:2px solid #ededed;
                 float: left; 
                 text-align: center;
                 background: #080808;
                 overflow: hidden;
                 img{
                     width:30px;
                 }
              }
              .tu1{
                  background: #F7941D;
                  img{
                      margin-top: 10px;
                      width:40px;
                  }
              }
              .tu2{
                 background: #fff;
                  img{
                      margin-top: 15px;
                      width:70px;
                  }
              }
          }
       }
   }
}
//侧导航
.cenav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    .touxiang{
        position: absolute;
        top: 30px;
        left: 2px;
        img{
            width: 45px;
        }
    }
    .home{
        position: absolute;
        top: 150px;
        left: 7px;
        height: auto;
        .homepage_ce{
            margin-top: 15px;
            #one_1{
                width: 35px;
            }
            .cang{
                position: absolute;
                right: 100%;
                top: 0;
                opacity: 0;
//              line-height: 20px;
                text-align: center;
                transition: all 1.5s;
                span{
                    position: absolute;
                    left: 28px;
                    top: 7px;
                    color: #219DEC;
                    letter-spacing: 2px;
                    z-index: 10;
                }
            }
            .two_1{
                position: absolute;
                top: -5px;
                right: -8px;
                width: 25px;
            }
        }
        
    }
    .tuichu{
        position: absolute;
        left: 7px;
        bottom:50px;
        .back{
            margin-bottom: 15px;
            img{
                width: 35px;
            }
        }
        .tui{
            img{
                width: 35px;
            }
        }
    }
}
.homepage_ce:nth-of-type(1):hover .cang{
    opacity: 1;
}
.homepage_ce:nth-of-type(2):hover .cang{
    opacity: 1;
}
.homepage_ce:nth-of-type(3):hover .cang{
    opacity: 1;
}
.homepage_ce:nth-of-type(4):hover .cang{
    opacity: 1;
}
.homepage_ce:nth-of-type(5):hover .cang{
    opacity: 1;
}
.clear{
    clear: both;
}