@import 'base';
body{
    background: #F4F4F4;
}
//头部

//banner
.box{
    width: 100%;
    height: 330px;
//  background: red;
    @include level;
    img{
        height: 330px;
        width: 100%;
    }
}
@font-face{
    font-family: 'iconfont';
}
.iconfont{
    font-family: "iconfont";
}
$imgss:"img";
//ui
.kk{
    width: 140px;
    position: absolute;
    right: 115px;
    bottom: 190px;
}
.wenzi{
    width: 75px;
    position: absolute;
    top: 170px;
    left: 390px;
    background: #fff;
    z-index: 100;
    text-align: center;
    .a{
        display: block;
        font-size: 10px;
        color: #ccc;
        background: #fff;
    }
}
.ui{
    width: 850px;
    height: 315px;
    background: #FFFFFF;
    @include level;
    margin-top: 90px;
    -webkit-border-radius: 10px;
//  border: 1px dashed #ccc;
    .sheji{
        width: 185px;
        height: 55px;
        background: #1892D1;
        position: absolute;
        top: -10px;
        left: 30px;
        .one{
            color: #fff;
            font-size: 2px;
            display: block;
            @include level;
            margin-top: 5px;
//          margin-left: 10px;
        }
        .tow{
            display: block;
            color: #fff;
            font-size: 18px;
            @include level;
            margin-top: 20px;
            margin-left: 10px;
        }
    }
    .send{
        width: 800px;
        height: 100px;
//      background: red;
        position: absolute;
        top: 45px;
        left: 30px;
        .one{
            width: 100%;
            height: 25px;
        }
        .one:nth-child(1){
            margin-top: 10px;
            .yuan{
                margin-top: 4px;
                float: left;
                border-radius: 50%;
                height: 17px;
                width: 17px;
                background: yellow;
//              line-height: 25px;
                .iconfont{
                    color: #000;
                    @include center;
                }
            }
            .a{
                width: 70px;
                height: 100%;
                float: left;
                color: red;
                margin-left: 5px;
                line-height: 25px;
                .aa{
                    color: red;
                    font-size: 15px;
                }
            }
            .b{
                width: 300px;
                height: 100%;
                float: left;
                margin-left: 5px;
                line-height: 25px;
                .bb{
                    color: #000;
                    font-size: 15px;
                }
            }
        }
        .one:nth-child(2){
            .liwu{
                margin-top: 4px;
                float: left;
//              border-radius: 50%;
                height: 17px;
                width: 17px;
                background: yellow;
                .iconfont{
                    color: #000;
                    @include center;
                }
            }
            .a{
                line-height: 25px;
                float: left;
                margin-left: 5px;
                .aa{
                    color: #C5C5C5;
                    font-size: 15px;
                }
            }
        }
        .one:nth-child(3){
            border-bottom: 1px dashed #ccc;
            .time{
                margin-top: 10px;
                line-height: 25px;
                .a{
                    color: #5BDB9E;
                    font-size: 12px;
                }
            }
        }
    }
    .jianli{
        position: absolute;
        top: 50px;
        left: 340px;
        width: 100px;
        height: 26px;
        -webkit-border-radius: 50px;
        background: #1892D1;
        text-align: center;
        .a{
            text-align: center;
            line-height: 26px;
            color: #fff;
            font-size: 15px;
        }
    }
    .xuhu{
        width: 730px;
        height: 110px;
        border: 1px dashed #ccc;
        @include level;
        margin-top: 178px;
        .A{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            left: 7px;
            top: 15px;
            overflow: hidden;
            float: left;
            .a{
                width: 80px;
                height: 80px;
            }
        }
        .B{
            width: 90px;
            height: 70px;
            float: left;
            margin-top: 30px;
            margin-left: 110px;
            .a{
                color: #000;
                font-size: 20px;
                display: block;
                margin-top: 10px;
            }
            .b{
                color: #ccc;
                font-size: 12px;
                display: block;
                margin-top: 2px;
            }
        }
        .C{
            width: 205px;
            height: 45px;
            margin-top: 32px;
            margin-left: 335px;
            border-right: 1px solid #ccc;
            line-height: 45px;
            .a{
                font-size: 12px;
                color: #ccc;
            }
        }
        .D{
            width: 115px;
            height: 35px;
            position: absolute;
            top: 37px;
            right: 37px;
            background: #5BDB9E;
            text-align: center;
            .a{
                color: #fff;
                font-size: 15px;
                line-height: 35px;
            }
        }
    }
}
//职位描述
.zhiwei{
    
    width: 850px;
    height: 600px;
    @include level;
    background: #fff;
    margin-top: 412px;
    -webkit-border-radius: 10px;
    .zhize{
        width: 100%;
        height: 170px;
        .a{
            width: 100px;
            height: 40px;
            position: absolute;
            top: 30px;
            left: 40px;
            .aa{
                width: 25px;
                height: 2px;
                -webkit-border-radius: 50px;
                background: #FFD100;
                float: left;
                margin-top: 5px;
            }
            .bb{
                color: #000;
                font-size: 10px;
                float: left;
                position: absolute;
                left: 0px;
                bottom: 13px;
            }
            .cc{
                display: block;
                font-size: 22px;
                color: #5BDB9E;
            }
        }
        .b{
            width: 500px;
//          margin-left: 40px;
            position: absolute;
            top: 70px;
            left: 40px;
            .aa{
                font-size: 12px;
                color: #000;
            }
            .bb{
                color: #5BDB9E;
                font-size: 12px;
            }
            .cc{
                color: #000;
                font-size: 12px;
            }
        }
       .C{
           width: 600px;
           position: absolute;
           top: 100px;
           left: 40px;
           .c{
               width: 100%;
               height: 15px;
               line-height: 15px;
               .aa{
                   color: #9E9E9E;
                   font-size: 4px;
                   line-height: 10px;
               }
           }
       }
    }
    .yaoqiu{
        width: 100%;
        height: 110px;
        border-top: 2px solid #F4F4F4;
        .b{
            width: 500px;
//          margin-left: 40px;
            position: absolute;
            top: 10px;
            left: 40px;
            .aa{
                font-size: 12px;
                color: #000;
            }
            .bb{
                color: #5BDB9E;
                font-size: 12px;
            }
            .cc{
                color: #000;
                font-size: 12px;
            }
        }
        .C{
            width: 600px;
            position: absolute;
            top: 40px;
            left: 40px;
            .c{
               width: 100%;
               height: 15px;
               line-height: 15px;
               .aa{
                   color: #9E9E9E;
                   font-size: 4px;
                   line-height: 10px;
               }
           }
        }
    }
    .didian{
        width: 100%;
        height: 316px;
        border-top: 2px solid #F4F4F4;
        .a{
            width: 100px;
            height: 40px;
            position: absolute;
            top: 10px;
            left: 40px;
            .aa{
                width: 25px;
                height: 2px;
                -webkit-border-radius: 50px;
                background: #FFD100;
                float: left;
                margin-top: 5px;
            }
            .bb{
                color: #000;
                font-size: 10px;
                float: left;
                position: absolute;
                left: 0px;
                bottom: 13px;
            }
            .cc{
                display: block;
                font-size: 22px;
                color: #5BDB9E;
            }
        }
        .map{
            width: 720px;
            height: 190px;
            position: absolute;
            top: 45px;
            left: 40px;
            border: 4px solid #ccc;
            overflow: hidden;
            .a{
                width: 720px;
                height: 190px;
                top: 0px;
                left: 0px;
            }
        }
        .C{
            width: 600px;
            position: absolute;
            top: 250px;
            left: 40px;
            .c{
               width: 100%;
               height: 15px;
               line-height: 15px;
               margin-top: 2px;
               .aa{
                   color: #9E9E9E;
                   font-size: 4px;
                   line-height: 10px;
               }
           }
        }
    }
}
//企业简介
.jian{
    width: 850px;
    height: 740px;
    @include level;
    -webkit-border-radius: 10px;
    margin-top: 1020px;
    background: #fff;
    .a{
        width: 100px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 40px;
        .aa{
            width: 25px;
            height: 2px;
            -webkit-border-radius: 50px;
            background: #FFD100;
            float: left;
            margin-top: 5px;
        }
        .bb{
            color: #000;
            font-size: 10px;
            float: left;
            position: absolute;
            left: 0px;
            bottom: 13px;
        }
        .cc{
            display: block;
            font-size: 22px;
            color: #5BDB9E;
        }
    }
    .C{
        width: 600px;
        position: absolute;
        top: 50px;
        left: 40px;
        .c{
           width: 100%;
           height: 15px;
           line-height: 15px;
           margin-top: 2px;
           .aa{
               color: #9E9E9E;
               font-size: 4px;
               line-height: 10px;
           }
       }
    }
    .shao{
        width: 770px;
        height: 530px;
        border-top: 2px solid #F4F4F4;
        position: absolute;
        top: 102px;
        left: 40px;
        .aaa{
            width: 100px;
            height: 40px;
            position: absolute;
            top: 10px;
            left: 0px;
            .aa{
                width: 25px;
                height: 2px;
                -webkit-border-radius: 50px;
                background: #FFD100;
                float: left;
                margin-top: 5px;
            }
            .bb{
                color: #000;
                font-size: 10px;
                float: left;
                position: absolute;
                left: 0px;
                bottom: 13px;
            }
            .cc{
                display: block;
                font-size: 22px;
                color: #5BDB9E;
            }
        }
        .C{
            width: 770px;
            position: absolute;
            top: 50px;
            left: 0px;
            .c{
               width: 100%;
               height: 15px;
               line-height: 15px;
               margin-top: 2px;
               .aa{
                   color: #9E9E9E;
                   font-size: 4px;
                   line-height: 10px;
               }
           }
           .c:nth-child(5){
                margin-top: 22px;
               .vv{
                    color: #9E9E9E;
                    font-size: 4px;
                    line-height: 10px;
               }
           }
            .c:nth-child(6){
                 margin-top: 30px;
               .ff{
                    color: #9E9E9E;
                    font-size: 4px;
                    line-height: 10px;
               }
           }
        }
    }
    .lun{
        width: 770px;
        height: 271px;
        position: absolute;
        top: 340px;
        left: 40px;
//      background: red;
        .left{
            width: 183px;
            height: 271px;
            overflow: hidden;
            float: left;
            .b{
                width: 183px;
                height: 271px;
            }
        }
        .zhong{
            width: 581px;
            height: 271px;
            overflow: hidden;
            float: right;
            .b{
                width: 581px;
                height: 271px;
            }
        }
    }
    .com{
        width: 100px;
        height: 40px;
        position: absolute;
        bottom: 55px;
        left: 0px;
        border-top: 2px solid #F4F4F4;
    }
    .CC{
        position: absolute;
        bottom: 32px;
        left: 40px;
//      color: #43A4EF;
        .b{
            color: #43A4EF;
            font-size: 10px;
        }
    }
}
//潜意识
#mentality{
    -webkit-border-radius: 10px;
    @include level;
    width: 850px;
    height: 260px;
    padding:18px 0 0 40px;
    border: 1px solid #E7E7E7;
    border-top: 3px solid #13C7F1;
    box-shadow: 0 0 1px #e7e7e7;
    background: #fff;
    margin-top: 1770px;
//  overflow: hidden;
    .tutu{
        position: absolute;
        right: -81px;
        bottom: -4px;
        img{
            width: 188px;
        }
    }
}
.mentalit{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
}
.mentalit .mentalit_1{
    float: left;
    overflow: hidden;
}
.mentalit .mentalit_1_1,.mentalit .mentalit_1_2{
    float: left;
}
.mentalit .mentalit_1_1{
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.mentalit .mentalit_1_1 img{
    width: 75px;
}
#mentality .mentalit_1_2{
    color: #3E3E3E;
    margin-left: 10px;
    margin-top: 8px;
}
#mentality .mentalit_1_2 h3,#mentality .mentalit_1_2 img{
    float: left;
    letter-spacing: 2px; 
}
#mentality .mentalit_1_2 img{
    margin-left: 5px;
    margin-top: 8px;
    width: 75px;
}
#mentality .mentalit_1_2 .t{
    margin-top: 15px;
}
.mentalit_2{
    position: absolute;
    right: -40px;
    bottom: 0px;
    img{
        margin-top: 0px;
    }
}
#hangye{
    width: 100%;
    height: auto;
    overflow: hidden;
}
#hangye .hangyes{
    overflow: hidden;
    margin-top: 5px;
}
#hangye .left,#hangye p{
    float: left;
}
#hangye .left{ 
    width: 75px;
    height: auto;
    border: 1px solid #E7E7E7;
    font-size: 10px;
    .a{
        font-weight: bold;
    }
}
#hangye .hangyes:nth-of-type(1) .iconfont{
    color: #8DE7C0;
}
#hangye .hangyes:nth-of-type(2) .iconfont{
    color: #FADC7C;
}
#hangye .hangyes:nth-of-type(3) .iconfont{
    color: #5CDDF1;
}
#hangye .hangyes:nth-of-type(4) .iconfont{
    color: #5485A7;
}
#hangye p{
    margin-left: 10px;
    font-size: 10px;
    line-height: 20px;
}
.cccc{
    color: #90CBFC;
    font-size: 10px;
    margin-left: 10px;
}
//详细评论
.speek{
    width: 850px;
    height: 300px;
    @include level;
    border-top: 2px solid #0EC8EF;
    margin-top: 2038px;
    -webkit-border-radius: 10px;
    background: #fff;
//  padding-bottom: 20px;
    .x{
        width: 100%;
        height: 50px;
        border-bottom:2px solid #F4F4F4;
        .a{
            width: 100px;
            height: 40px;
            position: absolute;
            top: 8px;
            left: 40px;
            .aa{
                width: 25px;
                height: 2px;
                -webkit-border-radius: 50px;
                background: #FFD100;
                float: left;
                margin-top: 5px;
            }
            .bb{
                color: #000;
                font-size: 10px;
                float: left;
                position: absolute;
                left: 0px;
                bottom: 13px;
            }
            .cc{
                display: block;
                font-size: 22px;
                color: #5BDB9E;
            }
        }
    }
    .j{
        width: 380px;
        height: 55px;
        border: 1px solid #ccc;
        float: left;
        margin-left: 20px;
        margin-top: 15px;
        border-left: 3px solid #00B38A;
        padding-left: 10px;
        .a{
            color: #00B38A;
            font-size: 15px;
            display: block;
            margin-top: 10px;
        }
        .b{
            color: red;
            font-size: 12px;
        }
        .c{
            color: #000;
            font-size: 12px;
            margin-left: 10px;
        }
        .d{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 12px;
            color: #ccc;
        }
    }
    .h{
        margin-top: 40px;
    }
}
//footer
#footer{
    margin-top: 2358px;
    height: 215px;
    width: 100%;
//  .footerBao{
//      width: 850px;
//      height: 215px;
//      .footerZiti{
//           color: #858585;
//          .ss{
//              color: #858585;
//          }
//      }
//      .bluehezi{
//          width: 100px;
//          height: 100px;
//          position: absolute;
//          top: 50px;
//          right: 0px;
//      }
//  }
}
//投不
//#header{
//  height: 100px;
//  #headerHe{
//      height: 100px;
//  }
//}



//两侧装饰
.zhuangshi{
    width: 200px;
    height: 30px;
    -webkit-border-radius: 50px;
    background: #FFD202;
    position: absolute;
    top: 220px;
    left: -100px;
    z-index: -10;
}
.zhuangshi1{
    width: 25px;
    height: 25px;
//  -webkit-border-radius: 50px;
    border-radius: 50%;
    background: #FFD202;
    position: absolute;
    top: 190px;
    left: -120px;
    z-index: -10;
}
.zhuangshi3{
    width: 200px;
    height: 30px;
    -webkit-border-radius: 50px;
//  border-radius: 50%;
    background: #FFD202;
    position: absolute;
    top: 430px;
    right: -80px;
    z-index: -10;
}
.zhuangshi4{
    width: 25px;
    height: 25px;
//  -webkit-border-radius: 50px;
    border-radius: 50%;
    background: #FFD202;
    position: absolute;
    top: 430px;
    right: -110px;
    z-index: -10;
}
.zhuangshi5{
    width: 300px;
    height: 15px;
    -webkit-border-radius: 50px;
//  border-radius: 50%;
    background: #FFD202;
    position: absolute;
    top: 470px;
    right: -40px;
    z-index: -10;
}
