body,h1,h2,h3,h4,h5,h6,p,pre,ul,li{
	margin:0;
	padding:0;
	list-style: none;
}
*{
	box-sizing:border-box;
	// position: relative;
}
a,em{
	text-decoration: none;
	font-style: none;
}
img{
	border:0;
	vertical-align: middle;
}
$inner-width:1200px;
$color-blue: #40def1; 
$color-z:#505050;
@mixin leftCenter {
　　　　position: absolute;
        left: 0;
        right: 0;
　　　　margin: auto;
　　}
@mixin topCenter {
　　　　position: absolute;
        top: 0;
        bottom: 0;
　　　　margin: auto;
　　}
@mixin box($w,$h) {
	width: $w;
	height: $h;
}
@mixin cube($w) {
	width: $w;
	height: $w;
}